[Desktop Entry]
Type=Application
Name=Purrr
Comment=Reproductor de música desde Google Drive
Exec=/home/christian/Proyectos/purrr/.venv/bin/purrr
Icon=io.github.christianlealreyes.Purrr
Categories=AudioVideo;Audio;Music;Player;GTK;
Terminal=false
StartupNotify=true
